h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.initialize {
    text-align: center;
}

ul {
    margin: 20px auto;
    width: 50%;
}

.initialize-button {
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    margin: 20px;
    padding: 15px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #499ef9;
}

.initialize-button:hover {
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
  }

.canvas {
    margin: 5%;
    border: 1px solid #000000;
}